<h1>
Create Event
</h1>
<button (click)="createEvent()">
    Create Event
</button>
<br>

<form action="">
	<label for="name" id="hacks">Event Name</label>
	<input [(ngModel)]="event.name" type="text" name="name">
</form>
<br>

<div style="width: 100%">
	<div #gmap style="width:50%;height:400px; float:left"></div>
	<div style="overflow: hidden;">
		<!-- {{markers | json}} -->
		<ul>
			<li  *ngFor="let geolocation of geolocations">
				{{geo | json}}
				<input [(ngModel)]="geolocation.date" type="datetime-local">
			</li>
		</ul>
	</div>
</div>

<div style="width: 100%; float: right">
	<br><br>
	NOTE:
	Click on the map to add geolocation. <br>
	Right click on pins to remove them <br>
	After placing or removing pins,
	Click in then out of the event name input box
</div>